<section data-ng-controller="TasksController" data-ng-init="">
    <div class="page-header">
        <h1>New Task</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <!-- Actions -->
                    <label class="control-label">Actions</label>
                    <div class="controls">
                        <input id="action" class="form-control" data-toggle="dropdown" data-ng-model="action" data-ng-keypress="searchActions($event)" />
                        <ul id="actionResults" data-ng-model="actionResults" class="dropdown-menu" role="menu" aria-labelledby="action">
                            <li data-ng-repeat="actionResult in actionResults">{{actionResult.name}}</li>
                        </ul>
                        <ol>
                            <li data-ng-model="actions" data-ng-repeat="action in actions">
                                <strong><span style="color: green;" data-ng-show="!action.id">NEW!</span> {{action.name}}</strong> |
                                <a href="" data-ng-click="actionUp()">Up</a> |
                                <a href="" data-ng-click="actionDown()">Down</a> |
                                <a href="" data-ng-click="actionOut()">Remove</a>
                            </li>
                        </ol>
                    </div>
                    <!-- Frequency -->
                    <label class="control-label" for="frequency">Frequency</label>
                    <div class="controls">
                        <select id="frequency" data-ng-model="frequency" class="form-control">
                            <option value="daily" selected>Daily</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>